---
const pageTitle = "About Me"
const identity = {
  firstName: "Vincenzo",
  country: "USA",
  occupation: "Software Developer",
  hobbies: ["music", "comics", "comedy", "reading", "movies", "gaming"],
  skills: ["Go"],
  operatingSystem: "Arch Linux"
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
	</head>
  <body>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/about">About</a>

    <h1>{pageTitle}</h1>
    <h2>... and my ramblings</h2>

    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
      {identity.hobbies.length >= 2 &&
        <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        }
      <li>I use {identity.operatingSystem} by the way.</li>
    </ul>
    <p>My skills are:</p>
    <ul>
      {identity.skills.map((skill) => <li>{skill}</li>)}
    </ul>
	</body>
</html>
